.guess-form button {
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 200px;
    padding: 7px;
    font-size: 25px;
    border-radius: 5px; 
    background-color: rgb(19,24,98);
    color: gray;
    border-style: none;
}

button:hover {
    background-color: rgb(238,232,107);
}

.guess-form input {
    width: 200px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px; 
}
