* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  width: 100%;
  height: 100%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: rgb(19,24,98);
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: white;
}


@keyframes highlight {
  0% {
      background: rgb(190,169,222);
  }
  100% {
      background: none;
  }
}

/* trigger the keyframe whenever the :target event fires
in other words, when an internal navigation link is used*/
#info-section:target {
  animation: highlight 1s;
}

